.sidebar {
    background-color: #fff;
    padding: 16px;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    color: #657786;
    cursor: pointer;
  }
  .sidebar-item:nth-child(1) {
    color: #1da1f2;
  }
  .sidebar-item:hover {
    color: #1da1f2;
  }
  
  .sidebar-item svg {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }