.sidebar {
    background-color: #fff;
    padding: 16px;
  }
  .sidebar-item-logo {
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 5px; /* Set button corner roundness */
    transition: background-color 0.2s ease-in-out; 
    cursor: pointer;
    border-radius: 50%;
  }
  .sidebar-item-logo:hover {
    background-color: #cfcfcfb4;
    /* border-radius: 50%; */
  }
  
  .sidebar-item {
    height: 55px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 20px;
    width: fit-content;
    color: #000000;
    transition: background-color 0.2s ease-in-out; 
    cursor: pointer;
    border-radius: 25px;
  }
  .sidebar-item:nth-child(1) {
    font-weight: bolder
  }
  .sidebar-item:hover {
    background-color: #cfcfcfb4;
    /* border-radius: 50%; */
  }
  
  .sidebar-item svg {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }